header{
    position: absolute;
    width: 100%;
    height: 131px;
    top: 0px;

    background: #1C1C1C;
}

.menu {
    position: absolute;
width: 100%;
height: 765px;
left: 0px;
top: 128px;

background: #262626;
}

.tecnicsLogo{
    position: absolute;
width: 321px;
height: 172px;
left: 77px;
top: -21px;
}

.hamburgerButton {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 1263px;
    top: 43px;
    background: #1C1C1C;
    border: 0;
    border-radius: 8px;
    color: #FFF;

}

.hamburgerMenu {
    position: absolute;
left: 6.25%;
right: 6.25%;
top: 18.75%;
bottom: 18.75%;
border-radius: 15%;
background: #25DE6D;
}

footer {
    position: absolute;
    width: 100%;
    height: 131px;
    top: 893px;

    background: #1C1C1C;
}