.processador-list{
    text-align: center;
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.processador-list article {
    background: #FFF;
    border: 2px solid #da552f;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.processador-list article p{
    font-size: 16px;
    color:#999;
    margin-top: 5px;
    line-height: 24px;
}

.processador-list article img{
    height: auto;
    max-width: 25%;
    border-radius: 10px;
    border: 2px solid #da552f;
    padding: 5px;
    background: none;
    margin-top: 10px;
    color: #da552f;
}

.processador-list article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}