footer {
    background-color: #1c1c1c;
    max-width: auto;
    min-height: 132px;
    overflow: hidden;
    padding: 0px 13vw 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 0px;
    }
}

footer a img {
    min-width: 45px;
    min-height: 45px;
    margin: 0px 0px 0px 30px;
    filter: invert(77%) sepia(49%) saturate(809%) hue-rotate(78deg) brightness(96%) contrast(81%);
}

footer button {
    border: none;
    background: none;
    font-size: 18px;
    color: #19D161;
    text-decoration: underline;
}