header {
    background-color: #1c1c1c;
    max-width: auto;
    max-height: 132px;
    overflow: hidden;
    padding: 0px 12vw 0px 10.5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 0px;
    }
}

header h1 {
    flex: auto;
    color: #19D161;
    font-size: 36px;
    text-align: center;
    line-height: 52px;
}

header h1 img {
    margin-left: 8px;
}

header nav {
    width: 245px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#tecnicsLogo {
    width: 245px;
    height: 132px;
}

#hamburgerButton {
    border: none;
    background-color: transparent;
}

.hamburger { 
    filter: invert(77%) sepia(49%) saturate(809%) hue-rotate(78deg) brightness(96%) contrast(81%);
    width: 45px;
    height: 45px;

}

#avatarButton {
    border: none;
    background-color: transparent;
    margin-right: 25%;
}

.avatar { 
    filter: invert(77%) sepia(49%) saturate(809%) hue-rotate(78deg) brightness(96%) contrast(81%);
    width: 45px;
    height: 45px;
}

.text {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #25DE6D;
}