input[type=range] {
    background: 0;
    width: 50%;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    border-radius: 5px;
    text-align: start;
}

input[type=range]::-moz-range-thumb {
    border: 0;
    height: 25px;
    width: 20px;
    border-radius: 5px;
    background: url('../../assets/svgs/Hexagono.svg') center no-repeat;
    cursor: pointer;
}

input[type=range].range-min-price::-moz-range-track {
    background: #45FF8D;
}

input[type=range].range-min-price::-moz-range-thumb {
    filter: invert(42%) sepia(99%) saturate(3793%) hue-rotate(241deg) brightness(87%) contrast(96%);
}

input[type=range].range-max-price::-moz-range-track {
    background: #794CD9;
}

input[type=range].range-max-price::-moz-range-thumb {
    filter: invert(83%) sepia(26%) saturate(1117%) hue-rotate(78deg) brightness(103%) contrast(101%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=number] { 
  -webkit-appearance: none; 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

.price-values {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.price-values .range {
    margin-top: 25px;
}

.price-values .text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.price-values .text-input{
    width: 35%;
    height: 35px;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


.price-values .text-min-price{
    background: #25DE6D;
    color: #794CD9;
}

.price-values .text-max-price{
    background: #5E30BF;
    color: #45FF8D;
}

#page-list-products {
    margin: 100px 13vw 0px;
    outline: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#filters {
    width: 18vw;
    display: flex;
    flex-flow: column wrap;
    background: #363636;
    border-radius: 10px;
}

#filters h2 {
    color: #19D161;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#filters fieldset {
    margin: 0 10px 30px;
    border: 0;
}

#filters fieldset label {
    color: #34EB7B;
    font-size: 20px;
    font-weight: bold;
}

#filters fieldset .values {
    margin-top: 24px;
}

#filters fieldset .values .checkbox {
    height: 30px;
}

#filters fieldset .values .checkbox input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 3px solid #885CE5;
    border-radius: 5px;
}

#filters fieldset .values .checkbox input[type=checkbox]:checked{
    transition: 200ms;
    background-color: #52FF95;
}

#filters fieldset .values .checkbox input[type=checkbox]:hover{
    border: 4px solid #885CE5;
}

#filters fieldset .values .checkbox span {
    margin-left: 10px;
    color: #34EB7B;
    font-size: 18px;
    font-weight: bold;
    vertical-align: top;
}

#options {
    min-width: 52.5vw;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    background: #363636;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

#options #search {
    max-width: 270px;
    height: 40px;
    background-color: #19D161;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#options #search span {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 5px 0 0 5px;
    border:none;
}

#options #search-icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    vertical-align: middle;
    filter: invert(17%) sepia(49%) saturate(4801%) hue-rotate(254deg) brightness(81%) contrast(111%);
}

#options #search-input {
    background: none;
    border: none;
    height: 36px;
    width: 225px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: #4619A6;
    margin-left: 5px;
}

#options #limit-sort {
    display: flex;
    flex-flow: row wrap;
    width: 25vw;
    justify-content: flex-start;
}

#options #limit-sort div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}

#options #limit-sort div label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #19D161;
}

#options #limit-sort div select {
    border: none;
    background: none;
    color: #885CE5;
    text-decoration-line: underline;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

#options #card-styles {
    display: flex;
    flex-flow: row wrap;
    width: 50px;
    justify-content: space-between;
}

#options #card-styles button{
    background: none;
    border: none;
}

#options #card-styles button img {
    width: 20px;
    height: 20px;
    filter: invert(34%) sepia(66%) saturate(1913%) hue-rotate(238deg) brightness(96%) contrast(87%);
}

main {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    max-width: 52.5vw;
    justify-content: space-between;
}

main .card {
    border-radius: 10px;
    background-color: #34eb7b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main .card.list {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    min-width: 52.5vw;
    height: 180px;
    margin-bottom: 30px;
}

main .card.list .product-image {
    height: 150px;
    width: 150px;
    border: solid 3px #794CD9;
    border-radius: 10px;
    align-self: center;
    margin-left: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main .card.list .props {
    margin-left: 40px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    width: 350px;
}

main .card.list .props h2 {
    font-size: 36px;
    color: #5124B2;
    max-height: 50px;
    overflow: hidden;
    text-overflow: clip;
}

main .card.list .props h3 {
    font-size: 28px;
    color: #5E30BF;
}

main .card a {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 65px;
    text-decoration: none;
    background-color: #52FF95;
    border: solid 2px #6B3DCC;
    border-radius: 10px;
    color: #5124B2;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

main .card a .plus-icon {
    height: 30px;
    width: 30px;
    filter: invert(18%) sepia(79%) saturate(2721%) hue-rotate(251deg) brightness(86%) contrast(106%);
}

main .card.list button {
    border: none;
    height: 40px;
    width: 50px;
    background: #794CD9;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 0px 20px;
}

main .card.list button .heart-icon {
    height: 22.25px;
    width: 25px;
    filter: invert(82%) sepia(11%) saturate(2197%) hue-rotate(82deg) brightness(102%) contrast(101%);
}

main .card.grid {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    width: 30.5%;
    height: 400px;
    align-items: center;
    margin: 0 5px 30px;
}

main .card.grid .product-image {
    height: 150px;
    width: 150px;
    border: solid 3px #794CD9;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

main .card.grid .props {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    width: 200px;
}

main .card.grid .props h2 {
    font-size: 30px;
    color: #5124B2;
    max-height: 50px;
    overflow: hidden;
    text-overflow: clip;
}

main .card.grid .props h3 {
    font-size: 32px;
    color: #5E30BF;
}

main .card.grid button {
    border: none;
    height: 32px;
    width: 40px;
    background: #794CD9;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px 0px 10px 0px;
    align-self: flex-end;
}

main .card.grid button .heart-icon {
    height: 20px;
    width: 18px;
    filter: invert(82%) sepia(11%) saturate(2197%) hue-rotate(82deg) brightness(102%) contrast(101%);
}